@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="container-wrapper"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop=HandleContainerDrop
        @ondragenter=HandleContainerDragEnter
        @ondragleave=HandleContainerDragLeave>
    @foreach(var model in ContainerData.DraggableModels)
    {
        <div 
            ondragover="event.preventDefault();"
            ondragstart="event.dataTransfer.setData('', event.target.id);"
            @ondrop="() => HandleDraggableDrop(model.Id)">
            <Draggable DraggableModel="@model" />
        </div>
    }
</div>
